body{
	background-color:#bdbdbd;
    font-family:sans-serif;
}
#main-content{
	margin-left:auto;
	margin-right:auto;
	max-width:768px;
	min-width:320px;
	height: 100%;
}
#header,.app-label{
	margin-top:-8px;
	background-color: #f5f5f5;
	border-radius: 10px;
	min-height:74px;
}
#icon,.icon{
	max-width:64px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	border-radius: 15px;
}
#header-text,.app-header-text{
	margin-left: 70px;
	margin-top:-64px;
	padding: 3px 15px;
}
#page-title,.app-title{
	color:black;
	font-size:26px;
}
#profile-description,#links,#projects,#recomend,#cr{
	padding: 10px;
	margin-top:10px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

a{
	text-decoration:none;
}
.other-links{
	overflow:hidden;
	border-radius:30px;
	width:60px;
	height:60px;
	margin-left:5%;
	margin-right:5%;
}
.header{
	background-color: #f5f5f5;
	border-radius: 10px;
	min-height:74px;
}
